Добро пожаловать на сайт Onlinedom.info
=======================================

Для окончания регистрации и подтверждения почты вам надо перейти по ссылке: http://<%= @domain %>/users/confirm/<%= @key %>