<div class="container-fluid estate-steps-form">
    <div class="row estate-steps">
        <div class="col-md-3 text-center estate-step" ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex()}">
            <span>{{step}}</span>
        </div>
    </div>
    <br />
    <div ng-switch on="selection">
        <div ng-switch-when="0">
            <estates-steps-addition></estates-steps-addition>
        </div>

        <div ng-switch-when="1">
            <estates-steps-list list="roomsList"></estate-steps-list>
        </div>

        <div ng-switch-when="2">
            <h1>Step 3</h1>
        </div>

        <div ng-switch-when="3">
            <h1>Step 4</h1>
        </div>
    </div>
    <hr class="estate-steps-divider"/>
    <div class="row estate-steps-controls">
        <div class="col-md-6 col-md-offset-6 text-right estate-steps-control">
            <button class="btn btn-material-blue-500" ng-show="hasNextStep()" ng-click="onButtonClick()" ng-disabled="buttonDisabled">Далее &rarr;</button>
        </div>
    </div>
</div>
