<div>
<form name="estateForm" role="form" novalidate>
    <div class="estate-step-addition">
        <div class="row" ng-if="!estateModel.id">
            <div class="col-md-6">
                <div class="form-group form-group-material-blue-500">
                    <label for="housing_number" class="control-label">
                        Количество жилых помещений
                    </label>
                    <input type="number" name="housing_number" id="housing_number" class="form-control" ng-model="estateModel.meta.housing_number" required ng-minlength="1" min="0" max="1000">
                    <div ng-messages="estateForm.housing_number.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Количество жилых помещений" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-group-material-blue-500">
                    <label for="nonresident_number" class="control-label">
                        Количество нежилых помещений
                    </label>
                    <input type="number" name="nonresident_number" id="nonresident_number" class="form-control" ng-model="estateModel.meta.nonresident_number" required ng-minlength="1" min="0" max="50">
                    <div ng-messages="estateForm.nonresident_number.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Количество нежилых помещений" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="region" class="control-label">
                        Область
                    </label>
                    <input type="text" name="region" id="region" class="form-control" ng-model="estateModel.address.region" required ng-minlength="1">
                    <div ng-messages="estateForm.region.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Область" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="city" class="control-label">
                        Город
                    </label>
                    <input type="text" name="city" id="city" class="form-control" ng-model="estateModel.address.city" required ng-minlength="1" >
                    <div ng-messages="estateForm.city.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Город" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="street" class="control-label">
                        Улица
                    </label>
                    <input type="text" name="street" id="street" class="form-control" ng-model="estateModel.address.street" required ng-minlength="1">
                    <div ng-messages="estateForm.street.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Улица" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="number" class="control-label">
                        Номер дома
                    </label>
                    <input type="number" name="number" id="number" class="form-control" ng-model="estateModel.address.number" required ng-minlength="1" min="1">
                    <div ng-messages="estateForm.number.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Номер дома" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="building" class="control-label">
                        Строение
                    </label>
                    <input type="text" name="building" id="building" class="form-control" ng-model="estateModel.address.building" ng-minlength="1">
                    <div ng-messages="estateForm.building.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Строение" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="housing" class="control-label">
                        Корпус
                    </label>
                    <input type="text" name="housing" id="housing" class="form-control" ng-model="estateModel.address.housing" ng-minlength="1">
                    <div ng-messages="estateForm.housing.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Корпус" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-material-blue-500">
                    <label class="control-label">
                        Лицензия
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="series" class="control-label">
                        Серия
                    </label>
                    <input type="number" name="series" id="series" class="form-control" ng-model="estateModel.license.series" required ng-minlength="1">
                    <div ng-messages="estateForm.series.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Серия" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="license_number" class="control-label">
                        Номер
                    </label>
                    <input type="number" name="license_number" id="license_number" class="form-control" ng-model="estateModel.license.number" required ng-minlength="1">
                    <div ng-messages="estateForm.license_number.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Номер" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="number" class="control-label">
                        Даты выдачи
                    </label>
                    <time-date-picker ng-model="test" date="estateModel.license.issue_date"></time-date-picker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-material-blue-500">
                    <label for="issued_by" class="control-label">
                        Кем выдан
                    </label>
                    <input type="text" name="issued_by" id="issued_by" class="form-control" ng-model="estateModel.license.issued_by" required ng-minlength="1">
                    <div ng-messages="estateForm.issued_by.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Кем выдан" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
