<hr>
<h3>Внутриквартирные приборы учета помещения</h3>
<button class="btn btn-material-blue-500" data-toggle="modal" data-target="#counter-dialog" type="button">
    Добавить
    <div class="ripple-wrapper"></div>
</button>
<table st-table="list"
       class="table table-striped table-with-controls"
       ng-if="list.length > 0">
    <thead>
    <tr>
        <th>Место установки</th>
        <th>Тип счетчика</th>
        <th>№ регистрации</th>
        <th>Название</th>
        <th>Точность</th>
        <th>Дата пломбы</th>
        <th>№ пломбы</th>
        <th>Дата замены счетчика</th>
        <th>Управление</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="counter in list track by $index" ng-if="counter._destroy != true">
        <td>{{counter.place}}</td>
        <td>{{counter.counter_type}}</td>
        <td>{{counter.regnum}}</td>
        <td>{{counter.name}}</td>
        <td>{{counter.precision}}</td>
        <td>{{counter.seal_date | date:"dd.MM.yyyy"}}</td>
        <td>{{counter.seal_number}}</td>
        <td>{{counter.replacement_date | date:"dd.MM.yyyy"}}</td>
        <td>
            <span data-toggle="modal" data-target="#counter-dialog" ng-click="setSelectedCounterData($index)">
                <i class="mdi-image-edit"></i>
            </span>
            <span data-toggle="modal" data-target="#remove-dialog" ng-click="setSelectedCounterIndex($index)">
                <i class="mdi-action-delete"></i>
            </span>
        </td>
    </tr>
    </tbody>
</table>
<h5 ng-if="!list.length > 0">Привязанных приборов нет</h5>


<div aria-hidden="true" style="display: none;" id="counter-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="panel panel-material-blue-500">
            <div class="panel-heading">
                <h3 class="panel-title">Присоединенная к дому сеть</h3>
            </div>
            <div class="panel-body">
                <ng-form name="counterForm" id="counterForm">
                  <div class="form-group form-group-material-blue-500">
                      <label for="place" class="control-label">
                          Место установки
                      </label>
                      <select class="form-control" id="place" ng-model="counterModel.place" required>
                          <option value="Подъезд">Подъезд</option>
                          <option value="Ванная">Ванная</option>
                          <option value="Туалет">Туалет</option>
                          <option value="Кухня">Кухня</option>
                          <option value="Другое">Другое</option>
                      </select>
                  </div>
                  <div class="form-group form-group-material-blue-500">
                      <label for="counter_type" class="control-label">
                          Тип счетчика
                      </label>
                      <select class="form-control" id="counter_type" ng-model="counterModel.counter_type" required>
                          <option value="Газ">Газ</option>
                          <option value="Х.водоснабжение">Х.водоснабжение</option>
                          <option value="Г.водоснабжение">Г.водоснабжение</option>
                          <option value="Электричество">Электричество</option>
                          <option value="Отопление">Отопление</option>
                      </select>
                  </div>
                  <div class="form-group form-group-material-blue-500">
                      <label for="regnum" class="control-label">
                          № регистрации
                      </label>
                      <input type="text" name="regnum" id="regnum" class="form-control" ng-model="counterModel.regnum" required>
                      <div ng-messages="counterForm.regnum.$error" role="alert" class="ng-message-alert">
                        <div ng-message="required">Поле "№ регистрации" обязательно для заполнения</div>
                      </div>
                  </div>
                  <div class="form-group form-group-material-blue-500">
                      <label for="name" class="control-label">
                          Название
                      </label>
                      <input type="text" name="name" id="name" class="form-control" ng-model="counterModel.name" required>
                      <div ng-messages="counterForm.name.$error" role="alert" class="ng-message-alert">
                        <div ng-message="required">Поле "Название" обязательно для заполнения</div>
                      </div>
                  </div>
                  <div class="form-group form-group-material-blue-500">
                      <label for="precision" class="control-label">
                          Точность
                      </label>
                      <input type="text" name="precision" id="precision" class="form-control" ng-model="counterModel.precision" required>
                      <div ng-messages="counterForm.precision.$error" role="alert" class="ng-message-alert">
                        <div ng-message="required">Поле "Точность" обязательно для заполнения</div>
                      </div>
                  </div>
                  <div class="form-group form-group-material-blue-500">
                      <label for="seal_date" class="control-label">
                          Дата пломбы
                      </label>
                      <time-date-picker ng-model="seal_date" date="counterModel.seal_date"></time-date-picker>
                  </div>
                  <div class="form-group form-group-material-blue-500">
                      <label for="seal_number" class="control-label">
                          № пломбы
                      </label>
                      <input type="text" name="seal_number" id="seal_number" class="form-control" ng-model="counterModel.seal_number" required>
                      <div ng-messages="counterForm.seal_number.$error" role="alert" class="ng-message-alert">
                        <div ng-message="required">Поле "№ пломбы" обязательно для заполнения</div>
                      </div>
                  </div>
                  <div class="form-group form-group-material-blue-500">
                      <label for="replacement_date" class="control-label">
                          Дата замены счетчика
                      </label>
                      <time-date-picker ng-model="replacement_date" date="counterModel.replacement_date"></time-date-picker>
                  </div>
                  <div class="right-align">
                      <button class="btn btn-raised btn-material-blue-500 btn-add" ng-disabled="counterForm.$invalid" ng-click="addCounter()" ng-if="!isEditMode">
                          <span>Добавить</span>
                          <div class="ripple-wrapper"></div>
                      </button>
                      <button class="btn btn-raised btn-material-blue-500 btn-add" ng-disabled="counterForm.$invalid" ng-click="updateCounter()" ng-if="isEditMode">
                          <span>Изменить</span>
                          <div class="ripple-wrapper"></div>
                      </button>
                  </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" style="display: none;" id="remove-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="panel panel-material-blue-500 panel-confirm">
            <div class="panel-heading">
                <h3 class="panel-title">Точно удалить?</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-default" data-dismiss="modal">
                    Отмена
                    <div class="ripple-wrapper"></div>
                </button>
                <button class="btn btn-material-blue-500" ng-click="deleteSelectedCounter(selectedCounterIndex)">
                    <span>Удалить</span>
                    <div class="ripple-wrapper"></div>
                </button>
            </div>
        </div>
    </div>
</div>
