<input class="form-control" name="birthdate" id="birthdate" ng-focus="showPicker = true" required ng-value="date | date:'dd-MM-yyyy'" ng-bur="showPicker = false" ng-minlength="10"/>
 <div ng-class="modeClass()" class="time-date" ng-show="showPicker">
    <div class="control">
        <div class="slider">
            <div class="date-control">
                <div class="title"><span class="month-part">{{currentMonth}}
            <select ng-model="calendar._month" ng-change="calendar.monthChange()" ng-options="calendar._months.indexOf(month) as month for month in calendar._months"></select></span>
                    <input ng-model="calendar._year" ng-change="calendar.monthChange()" type="number" class="year-part" />
                </div>
                <div class="headers">
                    <div class="day-cell">Вс</div>
                    <div class="day-cell">Пн</div>
                    <div class="day-cell">Вт</div>
                    <div class="day-cell">Ср</div>
                    <div class="day-cell">Чт</div>
                    <div class="day-cell">Пт</div>
                    <div class="day-cell">Сб</div>
                </div>
                <div class="days">
                    <div ng-style="{'margin-left': calendar.offsetMargin()}" ng-class="calendar.class(1)" ng-show="calendar.isVisible(1)" ng-click="calendar.select(1)" class="day-cell">1</div>
                    <div ng-class="calendar.class(2)" ng-show="calendar.isVisible(2)" ng-click="calendar.select(2)" class="day-cell">2</div>
                    <div ng-class="calendar.class(3)" ng-show="calendar.isVisible(3)" ng-click="calendar.select(3)" class="day-cell">3</div>
                    <div ng-class="calendar.class(4)" ng-show="calendar.isVisible(4)" ng-click="calendar.select(4)" class="day-cell">4</div>
                    <div ng-class="calendar.class(5)" ng-show="calendar.isVisible(5)" ng-click="calendar.select(5)" class="day-cell">5</div>
                    <div ng-class="calendar.class(6)" ng-show="calendar.isVisible(6)" ng-click="calendar.select(6)" class="day-cell">6</div>
                    <div ng-class="calendar.class(7)" ng-show="calendar.isVisible(7)" ng-click="calendar.select(7)" class="day-cell">7</div>
                    <div ng-class="calendar.class(8)" ng-show="calendar.isVisible(8)" ng-click="calendar.select(8)" class="day-cell">8</div>
                    <div ng-class="calendar.class(9)" ng-show="calendar.isVisible(9)" ng-click="calendar.select(9)" class="day-cell">9</div>
                    <div ng-class="calendar.class(10)" ng-show="calendar.isVisible(10)" ng-click="calendar.select(10)" class="day-cell">10</div>
                    <div ng-class="calendar.class(11)" ng-show="calendar.isVisible(11)" ng-click="calendar.select(11)" class="day-cell">11</div>
                    <div ng-class="calendar.class(12)" ng-show="calendar.isVisible(12)" ng-click="calendar.select(12)" class="day-cell">12</div>
                    <div ng-class="calendar.class(13)" ng-show="calendar.isVisible(13)" ng-click="calendar.select(13)" class="day-cell">13</div>
                    <div ng-class="calendar.class(14)" ng-show="calendar.isVisible(14)" ng-click="calendar.select(14)" class="day-cell">14</div>
                    <div ng-class="calendar.class(15)" ng-show="calendar.isVisible(15)" ng-click="calendar.select(15)" class="day-cell">15</div>
                    <div ng-class="calendar.class(16)" ng-show="calendar.isVisible(16)" ng-click="calendar.select(16)" class="day-cell">16</div>
                    <div ng-class="calendar.class(17)" ng-show="calendar.isVisible(17)" ng-click="calendar.select(17)" class="day-cell">17</div>
                    <div ng-class="calendar.class(18)" ng-show="calendar.isVisible(18)" ng-click="calendar.select(18)" class="day-cell">18</div>
                    <div ng-class="calendar.class(19)" ng-show="calendar.isVisible(19)" ng-click="calendar.select(19)" class="day-cell">19</div>
                    <div ng-class="calendar.class(20)" ng-show="calendar.isVisible(20)" ng-click="calendar.select(20)" class="day-cell">20</div>
                    <div ng-class="calendar.class(21)" ng-show="calendar.isVisible(21)" ng-click="calendar.select(21)" class="day-cell">21</div>
                    <div ng-class="calendar.class(22)" ng-show="calendar.isVisible(22)" ng-click="calendar.select(22)" class="day-cell">22</div>
                    <div ng-class="calendar.class(23)" ng-show="calendar.isVisible(23)" ng-click="calendar.select(23)" class="day-cell">23</div>
                    <div ng-class="calendar.class(24)" ng-show="calendar.isVisible(24)" ng-click="calendar.select(24)" class="day-cell">24</div>
                    <div ng-class="calendar.class(25)" ng-show="calendar.isVisible(25)" ng-click="calendar.select(25)" class="day-cell">25</div>
                    <div ng-class="calendar.class(26)" ng-show="calendar.isVisible(26)" ng-click="calendar.select(26)" class="day-cell">26</div>
                    <div ng-class="calendar.class(27)" ng-show="calendar.isVisible(27)" ng-click="calendar.select(27)" class="day-cell">27</div>
                    <div ng-class="calendar.class(28)" ng-show="calendar.isVisible(28)" ng-click="calendar.select(28)" class="day-cell">28</div>
                    <div ng-class="calendar.class(29)" ng-show="calendar.isVisible(29)" ng-click="calendar.select(29)" class="day-cell">29</div>
                    <div ng-class="calendar.class(30)" ng-show="calendar.isVisible(30)" ng-click="calendar.select(30)" class="day-cell">30</div>
                    <div ng-class="calendar.class(31)" ng-show="calendar.isVisible(31)" ng-click="calendar.select(31)" class="day-cell">31</div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .time-date {
        font-size: 16px;
        overflow: hidden;
        border: none;
        width: 300px;
        position: absolute;
        margin-top: 10px;
        z-index: 3000;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 2px;
        border: 0;
    }
    .time-date > .display > .title {
        background-color: #00796b;
        color: #e1e1e1;
        line-height: 2em;
    }
    .time-date > .display > .content > .main-title > small {
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }
    .time-date > .control {
        width: 100%;
        overflow-x: hidden;
        position: relative;
        overflow: hidden;
    }
    .time-date > .control > .slider {
        background: #fff;
        position: absolute !important;
        width: 100%;
        -webkit-transition: left 0.6s ease-in-out;
        -moz-transition: left 0.6s ease-in-out;
        -o-transition: left 0.6s ease-in-out;
        -ms-transition: left 0.6s ease-in-out;
        transition: left 0.6s ease-in-out;
    }
    .time-date > .control > .slider > .date-control{
        float: left;
        height: 27.3rem;
    }
    .time-date > .control > .slider > .date-control{
        width: 100%;
    }
    .time-date > .control > .slider > .date-control > .title {
        padding: 4px 0px;
        font-weight: 500;
        line-height: 2em;
        background: #2196f3;
        color: #fff;
    }
    .time-date > .control > .slider > .date-control > .title > span {
        cursor: pointer;
        position: relative;
    }
    .time-date > .control > .slider > .date-control > .title > span:hover {
        text-decoration: underline;
    }
    .time-date > .control > .slider > .date-control > .title > span > select {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    .time-date > .control > .slider > .date-control > .title > span > select > option{
        color: #2196f3;
    }
    .time-date > .control > .slider > .date-control > .title > input {
        background: #2196f3;
        border: none;
        width: 5.6rem;
    }
    .time-date > .control > .slider > .date-control > .headers {
        padding-top: 10px;
        margin-top: -1rem;
        font-weight: 500;
        font-size: 1.3rem;
        padding-left: 2rem;
        color: #737373;
    }
    .time-date > .control > .slider > .date-control > .headers > .day-cell {
        cursor: default;
    }
    .time-date > .control > .slider > .date-control .day-cell {
        float: left;
        width: 3.6rem;
        height: 3.6rem;
        padding-top: 1rem;
        cursor: pointer;
        -webkit-border-radius: 4rem;
        border-radius: 4rem;
    }
    .time-date > .control > .slider > .date-control > .days {
        font-size: 1.3rem;
        padding-left: 2rem;
        width: 27.720000000000002rem;
    }
    .time-date > .control > .slider > .date-control > .days .day-cell.today {
        background-color: #42A5F5 !important;
        color: #fff !important;
    }
    .time-date > .control > .slider > .date-control > .days .day-cell.selected {
        color: #fff;
        background-color: #2196F3;
    }
    .time-date > .control > .slider > .date-control > .days .day-cell:hover,
    .time-date > .control > .slider > .date-control > .days .day-cell:active {
        color: #fff;
        background-color: #1976D2;
    }
    .time-date > .control > .slider > .time-control {
        position: relative;
    }
    .time-date > .control > .slider > .time-control > .buttons {
        position: absolute;
        bottom: 0px;
        left: 8px;
        right: 8px;
    }
    .time-date > .control > .slider > .time-control > .buttons > input {
        float: left;
        bottom: 50%;
        margin-bottom: -1.4rem;
        margin-left: -3rem;
        border: none;
        border-bottom: 1px solid #000;
        text-align: center;
        position: absolute;
        left: 50%;
    }
    .time-date > .control > .slider > .time-control > .buttons > button {
        -webkit-border-radius: 100%;
        border-radius: 100%;
        width: 5rem;
        height: 5rem;
    }
    .time-date > .control > .slider > .time-control > .clock {
        position: relative;
        width: 100%;
        padding-left: 50%;
        padding-top: 3rem;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face {
        position: relative;
        margin-left: -75px;
        margin-top: 1.5rem;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face:before {
        content: " ";
        background-color: #eceff1;
        position: absolute;
        top: -20px;
        left: -20px;
        height: 188px;
        width: 188px;
        -webkit-border-radius: 94px;
        border-radius: 94px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .center {
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #202020;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        z-index: 3;
        left: 74px;
        top: 73px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand {
        position: absolute;
        height: 4rem;
        width: 4rem;
        margin-left: -2rem;
        margin-top: -2rem;
        padding: 1rem;
        text-align: center;
        -webkit-border-radius: 8rem;
        border-radius: 8rem;
        cursor: pointer;
        color: #009688;
        z-index: 2;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:hover,
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:active,
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:hover:before,
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:active:before {
        color: #e6e6e6;
        background-color: #00baa9;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand.selected,
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand.selected:before {
        color: #fff;
        background-color: #009688;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(2) {
        left: 112.5px;
        top: 10.048094699999993px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(2):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(29.99999999999988deg);
        -moz-transform: rotate(29.99999999999988deg);
        -o-transform: rotate(29.99999999999988deg);
        -ms-transform: rotate(29.99999999999988deg);
        transform: rotate(29.99999999999988deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(3) {
        left: 139.95190530000002px;
        top: 37.5px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(3):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(60.000000000000114deg);
        -moz-transform: rotate(60.000000000000114deg);
        -o-transform: rotate(60.000000000000114deg);
        -ms-transform: rotate(60.000000000000114deg);
        transform: rotate(60.000000000000114deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(4) {
        left: 150px;
        top: 75px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(4):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(5) {
        left: 139.95190530000002px;
        top: 112.5px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(5):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(119.99999999999987deg);
        -moz-transform: rotate(119.99999999999987deg);
        -o-transform: rotate(119.99999999999987deg);
        -ms-transform: rotate(119.99999999999987deg);
        transform: rotate(119.99999999999987deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(6) {
        left: 112.5px;
        top: 139.95190530000002px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(6):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(150.0000000000001deg);
        -moz-transform: rotate(150.0000000000001deg);
        -o-transform: rotate(150.0000000000001deg);
        -ms-transform: rotate(150.0000000000001deg);
        transform: rotate(150.0000000000001deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(7) {
        left: 75px;
        top: 150px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(7):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(8) {
        left: 37.5px;
        top: 139.95190530000002px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(8):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(209.9999999999999deg);
        -moz-transform: rotate(209.9999999999999deg);
        -o-transform: rotate(209.9999999999999deg);
        -ms-transform: rotate(209.9999999999999deg);
        transform: rotate(209.9999999999999deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(9) {
        left: 10.048094699999993px;
        top: 112.5px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(9):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(240.0000000000001deg);
        -moz-transform: rotate(240.0000000000001deg);
        -o-transform: rotate(240.0000000000001deg);
        -ms-transform: rotate(240.0000000000001deg);
        transform: rotate(240.0000000000001deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(10) {
        left: 0px;
        top: 75px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(10):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(11) {
        left: 10.048094699999993px;
        top: 37.5px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(11):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(299.9999999999999deg);
        -moz-transform: rotate(299.9999999999999deg);
        -o-transform: rotate(299.9999999999999deg);
        -ms-transform: rotate(299.9999999999999deg);
        transform: rotate(299.9999999999999deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(12) {
        left: 37.5px;
        top: 10.048094699999993px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(12):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(330.0000000000001deg);
        -moz-transform: rotate(330.0000000000001deg);
        -o-transform: rotate(330.0000000000001deg);
        -ms-transform: rotate(330.0000000000001deg);
        transform: rotate(330.0000000000001deg);
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(13) {
        left: 75px;
        top: 0px;
    }
    .time-date > .control > .slider > .time-control > .clock > .clock-face > .hand:nth-child(13):before {
        content: " ";
        position: absolute;
        left: 2rem;
        top: 2rem;
        height: 75px;
        width: 2px;
        z-index: -1;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -o-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .time-date.date-mode > .control > .slider {
        left: 0%;
    }
    .time-date.time-mode > .display > .content {
        padding-top: 5.4rem;
    }
    .time-date.time-mode > .control > .slider {
        left: -100%;
    }
    .time-date.date-only > .control > .slider > .switch-control,
    .time-date.date-only > .control > .slider > .time-control {
        display: none;
    }
    .time-date.date-only > .control > .slider > .date-control {
        width: 50%;
        padding-left: 1.4rem;
    }
    .time-date.time-only > .display > .content {
        top: 0px;
        padding-top: 8.2rem;
    }
    .time-date.time-only > .control > .slider > .switch-control,
    .time-date.time-only > .control > .slider > .date-control {
        display: none;
    }
    .time-date.time-only > .control > .slider > .time-control {
        width: 50%;
    }
    .time-date > .display,
    .time-date > .control {
        height: 27.3rem;
        float: left;
        text-align: center;
    }
    .time-date > .buttons {
        clear: both;
        padding: 1rem;
        text-align: right;
    }
    .time-date button,
    .time-date .button {
        color: #009688 !important;
        font-weight: bold;
    }
    .time-date button:hover,
    .time-date .button:hover,
    .time-date button:active,
    .time-date .button:active {
        color: #e6e6e6 !important;
        background-color: #00baa9;
    }
    .time-date button.active,
    .time-date .button.active {
        color: #fff !important;
        background-color: #009688;
    }
</style>
