<div class="login-alerts" ng-show="alert.show == true">
    <div class="alert alert-dismissable" ng-class="alert.class">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>
            {{alert.text}}
        </p>
    </div>
</div>