<nav ng-if="pages.length >= 2" class="table-pagination">
        <ul>
            <!--<li>-->
                <!--<a ng-click="selectPage(1)">First</a>-->
            <!--</li>-->
            <li class="btn btn-material-blue-500 btn-pagination-control" ng-click="selectPage(currentPage - 1)" ng-class="{'vis-hidden': currentPage == 1}">
                <i class="material-icons">keyboard_arrow_left</i>
            </li>
            <li class="pages-tracker">
                <span>{{currentPage}} / {{numPages}}</span>
            </li>
            <li class="btn btn-material-blue-500 btn-pagination-control" ng-click="selectPage(currentPage + 1)" ng-class="{'vis-hidden': currentPage == numPages}">
                <i class="material-icons">keyboard_arrow_right</i>
            </li>
            <!--<li>-->
                <!--<a ng-click="selectPage(numPages)">Last</a>-->
            <!--</li>-->
        </ul>
</nav>