<div aria-hidden="true" style="display: none;" id="add-support-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="panel panel-material-blue-500">
            <div class="panel-heading">
                <h3 class="panel-title">Присоединенная к дому сеть</h3>
            </div>
            <div class="panel-body">
                <ng-form name="supportForm">
                    <div class="form-group form-group-material-blue-500">
                        <label for="name" class="control-label">
                            Название
                        </label>
                        <input type="text" name="name" id="name" class="form-control" ng-model="selectedSupportModel.name" required>
                        <div ng-messages="supportForm.name.$error" role="alert" class="ng-message-alert">
                          <div ng-message="required">Поле "Название" обязательно для заполнения</div>
                        </div>
                    </div>
                    <div class="form-group form-group-material-blue-500">
                        <label class="control-label">
                            Телефон
                        </label>
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" name="phone" class="form-control" ng-model="selectedSupportModel.phones[0].number" ui-mask="+7 (999) 999-9999" ng-minlength="10" required>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group" class="no-margin">
                                    <input type="text" name="phone-extension" class="form-control" ng-model="selectedSupportModel.phones[0].extension" maxlength="4">
                                </div>
                            </div>
                        </div>
                        <div ng-messages="supportForm.phone.$error" role="alert" class="ng-message-alert">
                          <div ng-message="required">Поле "Телефон" обязательно для заполнения</div>
                        </div>
                    </div>
                    <div class="form-group form-group-material-blue-500">
                        <label for="address" class="control-label">
                            Юридический адрес
                        </label>
                        <input type="text" name="address" id="address" class="form-control" ng-model="selectedSupportModel.address" required>
                        <div ng-messages="supportForm.address.$error" role="alert" class="ng-message-alert">
                          <div ng-message="required">Поле "Юридический адрес" обязательно для заполнения</div>
                        </div>
                    </div>
                    <div class="right-align">
                        <span class="btn btn-raised btn-material-blue-500 btn-add" ng-disabled="supportForm.$invalid" ng-click="addSupport()" ng-if="!isEditMode">
                            <span>Добавить</span>
                            <div class="ripple-wrapper"></div>
                        </span>
                        <span class="btn btn-raised btn-material-blue-500 btn-add" ng-disabled="supportForm.$invalid" ng-click="updateSupport()" ng-if="isEditMode">
                            <span>Изменить</span>
                            <div class="ripple-wrapper"></div>
                        </span>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" style="display: none;" id="remove-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="panel panel-material-blue-500 panel-confirm">
            <div class="panel-heading">
                <h3 class="panel-title">Точно удалить?</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-default" data-dismiss="modal">
                    Отмена
                    <div class="ripple-wrapper"></div>
                </button>
                <button class="btn btn-material-blue-500" ng-click="deleteSelectedSupport(selectedSupportIndex)">
                    <span>Удалить</span>
                    <div class="ripple-wrapper"></div>
                </button>
            </div>
        </div>
    </div>
</div>
<form name="estateForm" role="form" novalidate ng-submit="submitForm()">
    <div class="well" ng-init="init()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-group-material-blue-500">
                    <label for="living" class="control-label">
                        Количество жилых помещений
                    </label>
                    <input type="number" name="living" id="living" class="form-control" ng-model="estateModel.meta.living" required ng-minlength="1" min="0">
                    <div ng-messages="estateForm.living.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Количество жилых помещений" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-group-material-blue-500">
                    <label for="nonliving" class="control-label">
                        Количество нежилых помещений
                    </label>
                    <input type="number" name="nonliving" id="nonliving" class="form-control" ng-model="estateModel.meta.nonliving" required ng-minlength="1" min="0">
                    <div ng-messages="estateForm.nonliving.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Количество нежилых помещений" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="region" class="control-label">
                        Область
                    </label>
                    <input type="text" name="region" id="region" class="form-control" ng-model="estateModel.address.region" required ng-minlength="1">
                    <div ng-messages="estateForm.region.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Область" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="city" class="control-label">
                        Город
                    </label>
                    <input type="text" name="city" id="city" class="form-control" ng-model="estateModel.address.city" required ng-minlength="1" >
                    <div ng-messages="estateForm.city.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Город" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="street" class="control-label">
                        Улица
                    </label>
                    <input type="text" name="street" id="street" class="form-control" ng-model="estateModel.address.street" required ng-minlength="1">
                    <div ng-messages="estateForm.street.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Улица" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="number" class="control-label">
                        Номер дома
                    </label>
                    <input type="number" name="number" id="number" class="form-control" ng-model="estateModel.address.number" required ng-minlength="1" min="1">
                    <div ng-messages="estateForm.number.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Номер дома" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="building" class="control-label">
                        Строение
                    </label>
                    <input type="text" name="building" id="building" class="form-control" ng-model="estateModel.address.building" ng-minlength="1">
                    <div ng-messages="estateForm.building.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Строение" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-material-blue-500">
                    <label for="housing" class="control-label">
                        Корпус
                    </label>
                    <input type="text" name="housing" id="housing" class="form-control" ng-model="estateModel.address.housing" ng-minlength="1">
                    <div ng-messages="estateForm.housing.$error" role="alert" class="ng-message-alert">
                      <div ng-message="required">Поле "Корпус" обязательно для заполнения</div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group form-group-material-blue-500">
            <label class="control-label">
                Лицензия
            </label>
            <label for="uploadPhoto"
                   class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add"
                   ng-if="!estateModel.has_files">
                <i class="mdi-editor-publish" ng-hide="spinnersState.uploadSpinner"></i>
                <div class="spinner spinner-small" ng-show="spinnersState.uploadSpinner"></div>
                <div class="ripple-wrapper"></div>
            </label>
            <input id="uploadPhoto"
                   type="file"
                   onchange="angular.element(this).scope().uploadLicense(this.files)"
                   ng-hide="1"
                   accept="image/x-png, image/gif, image/jpeg"
            >
            <button type="button" class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add" ng-click="removeLicense()" ng-if="estateModel.has_files">
                <i class="mdi-action-delete" ng-hide="spinnersState.deleteSpinner"></i>
                <div class="spinner spinner-small" ng-show="spinnersState.deleteSpinner"></div>
                <div class="ripple-wrapper"></div>
            </button>
            <a ng-href="api/estates/{{estateModel.id}}/file/license"
               class="btn btn-fab btn-fab-mini btn-raised btn-material-blue-500 btn-add"
               target="_self"
               download="license"
               ng-if="estateModel.has_files && estateModel.id"
            >
                <i class="material-icons" ng-hide="spinnersState.uploadSpinner">file_download</i>
                <div class="ripple-wrapper"></div>
            </a>
        </div>
        <hr>
        <h3>Присоединенные сети</h3>
        <button class="btn btn-material-blue-500" data-toggle="modal" data-target="#add-support-dialog" type="button" ng-click="initSupportModel()">
            Добавить
            <div class="ripple-wrapper"></div>
        </button>
        <table st-table="estateModel.supports_attributes"
               class="table table-striped table-with-controls"
               ng-if="estateModel.supports_attributes.length > 0">
            <thead>
            <tr>
                <th>Название</th>
                <th>Телефон</th>
                <th>Управление</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="support in estateModel.supports_attributes track by $index" ng-if="support._destroy != true">
                <td>{{support.name}}</td>
                <td ng-if="support.phones[0].extension.length > 0">{{support.phones[0].number + ':' + support.phones[0].extension}}</td>
                <td ng-if="!support.phones[0].extension.length > 0">{{support.phones[0].number}}</td>
                <td>
                    <span data-toggle="modal" data-target="#add-support-dialog" ng-click="setSelectedSupportData($index)">
                        <i class="mdi-image-edit"></i>
                    </span>
                    <span data-toggle="modal" data-target="#remove-dialog" ng-click="setSelectedSupportIndex($index)">
                        <i class="mdi-action-delete"></i>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <h5 ng-if="!estateModel.supports_attributes.length > 0">Привязанных сетей нет</h5>
        <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" type="submit" ng-disabled="estateForm.$invalid">
            <i class="mdi-action-done" ng-show="!showSpinner"></i>
            <div class="spinner" ng-show="showSpinner"></div>
            <div class="ripple-wrapper"></div>
        </button>
    </div>
</form>
