<div class="well" ng-init="init()">
    <div aria-hidden="true" style="display: none;" id="remove-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="panel panel-material-blue-500 panel-confirm">
                <div class="panel-heading">
                    <h3 class="panel-title">Точно удалить?</h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-default" data-dismiss="modal">
                        Отмена
                        <div class="ripple-wrapper"></div>
                    </button>
                    <button class="btn btn-material-blue-500" ng-click="deleteSelectedRole(selectedRoleId, selectedRoleIndex)" ng-disabled="buttonDisabled">
                        <span ng-class="{'vis-hidden': buttonDisabled}">Удалить</span>
                        <div class="spinner" ng-show="buttonDisabled"></div>
                        <div class="ripple-wrapper"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table st-table="roleModel.rolesList"
           st-safe-src="rolesSafe"
           class="table table-striped table-with-controls"
           ng-if="roleModel.rolesAmount > 0">
        <thead>
        <tr>
            <th st-sort="name">Название</th>
            <th ng-if="userCan('roles', 'update') || userCan('roles', 'delete')" ng-cloak>Управление</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="role in roleModel.rolesList">
            <td>{{role.name}}</td>
            <td ng-if="userCan('roles', 'update') || userCan('roles', 'delete')" ng-cloak>
                <span ng-if="userCan('roles', 'update')" ng-cloak>
                    <a href="#editRole/{{role.id}}">
                        <i class="mdi-image-edit"></i>
                    </a>
                </span>
                <span data-toggle="modal" data-target="#remove-dialog" ng-click="setRoleIdToRemove(role.id, $index)" ng-if="userCan('roles', 'delete')" ng-cloak>
                    <i class="mdi-action-delete"></i>
                </span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{userCan('roles', 'update')||userCan('roles', 'delete')? '3' : '2'}}" class="text-center">
                <div st-items-by-page="10" st-pagination="" st-template="template/table-pagination"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <h5 ng-if="!roleModel.rolesAmount > 0">Вы еще не создали ни одной роли</h5>
    <a href="#/addRole" class="btn btn-fab btn-raised btn-material-blue-500 btn-add" ng-if="userCan('roles', 'create')" ng-cloak>
        <i class="mdi-content-add"></i>
        <div class="ripple-wrapper"></div>
    </a>
</div>