<div class="well" ng-init="init()">
    <h5>Квартира № {{requestModel.room.number}}, {{requestModel.room.full_address}}</h5>
    <hr>
    <div class="form-group form-group-material-blue-500">
        <label for="request_type" class="control-label">
            Тип заявки
        </label>
        <input type="text" disabled name="request_type" id="request_type" class="form-control" ng-model="requestModel.ticket_type">
    </div>
    <div class="form-group form-group-material-blue-500">
        <label for="status" class="control-label">
            Статус
        </label>
        <input type="text" disabled name="status" id="status" class="form-control" ng-model="requestModel.status">
    </div>
    <div class="form-group form-group-material-blue-500" ng-if="requestModel.executor">
        <label for="executor" class="control-label">
            Исполнитель
        </label>
        <input type="text" disabled name="executor" id="executor" class="form-control" ng-model="requestModel.executor.name">
    </div>
    <div class="form-group form-group-material-blue-500">
        <label for="message" class="control-label">
            Сообщение
        </label>
        <textarea disabled type="text" name="message" id="message" ng-model="requestModel.meta.description" class="form-control" required rows="6"></textarea>
    </div>
</div>
