<div class="well" ng-init="init()">
    <ng-form name="requestForm" role="form" novalidate ng-if="estates.length > 0">
        <h3>Информация о заявке</h3>
        <div class="form-group form-group-material-blue-500">
            <label for="request_type" class="control-label">
                Тип заявки
            </label>
            <select class="form-control" id="request_type" required ng-model="requestModel.ticket_type">
                <option value="Обычная" selected>Обычная</option>
                <option value="Аварийная">Аварийная</option>
                <!-- TODO убрать disabled -->
                <option value="VIP" disabled>VIP</option>
            </select>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="estate_id" class="control-label">
                Дом:
            </label>
            <select class="form-control" id="estate_id" required ng-model="requestModel.estate_id" ng-options="estate.id as estate.full_address for estate in estates">
            </select>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="room_number" class="control-label">
                № квартиры
            </label>
            <input type="number" name="room_number" id="room_number" class="form-control" ng-model="requestModel.room_number" required>
            <div ng-messages="requestForm.room_number.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "№ квартиры" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="applicant" class="control-label">
                Заявитель
            </label>
            <input type="text" name="applicant" id="applicant" class="form-control" ng-model="requestModel.meta.applicant" required>
            <div ng-messages="requestForm.applicant.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Заявитель" обязательно для заполнения</div>
            </div>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="executor_id" class="control-label">
                Исполнитель
            </label>
            <select class="form-control" id="executor_id" required ng-model="requestModel.executor_id" ng-options="employee.user.id as employee.user.name for employee in employees">
            </select>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="message" class="control-label">
                Сообщение
            </label>
            <textarea type="text" name="message" id="message" ng-model="requestModel.meta.description" class="form-control" required rows="6"></textarea>
            <div ng-messages="requestForm.message.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Сообщение" обязательно для заполнения</div>
            </div>
        </div>
        <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" type="submit" ng-disabled="requestForm.$invalid" ng-click="submitForm()">
            <i class="mdi-action-done" ng-show="!showSpinner"></i>
            <div class="spinner" ng-show="showSpinner"></div>
            <div class="ripple-wrapper"></div>
        </button>
    </ng-form>
    <div ng-if="!estates.length > 0" class="form-group form-group-material-blue-500">
        <h5>Сначала необходимо создать <a href="#estates">объект</a></h5>
    </div>
</div>
