<div class="well" ng-init="init()">
    <table
    st-table="requests"
    st-safe-src="requestsSafe"
    class="table table-striped table-with-controls"
    ng-if="requests.length > 0">
    <thead>
        <tr>
            <th st-sort="number">№ в реестре</th>
            <th st-sort="created_at">Дата</th>
            <th st-sort="user.name">Заявитель</th>
            <th st-sort="executor">Исполнитель</th>
            <th st-sort="status">Статус</th>
            <th ng-if="userCan('requests', 'update') || userCan('requests', 'delete')" ng-cloak>Управление</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="request in requests">
            <td>{{request.number}}</td>
            <td>{{request.created_at | date:'dd.MM.yyyy'}}</td>
            <td>{{request.meta.applicant ? request.meta.applicant : request.user.name}}</td>
            <td>{{request.executor ? request.executor.name : 'Не назначен'}}</td>
            <td>{{request.status}}</td>
            <td ng-if="userCan('requests', 'update') || userCan('requests', 'delete')" ng-cloak>
                <div ng-if="request.editable">
                    <span ng-if="userCan('requests', 'update')" ng-cloak>
                        <a href="#editRequest/{{request.id}}">
                            <i class="mdi-image-edit"></i>
                        </a>
                    </span>
                    <span data-toggle="modal" data-target="#remove-dialog" ng-click="setObjIdToRemove(request.id, $index)" ng-if="userCan('requests', 'delete')" ng-cloak>
                        <i class="mdi-action-delete"></i>
                    </span>
                </div>
                <div ng-if="!request.editable">
                    <span>
                        <a href="#showRequest/{{request.id}}">
                            <i class="material-icons">visibility</i>
                        </a>
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="{{userCan('requests', 'update')||userCan('requests', 'delete')? '6' : '5'}}" class="text-center">
            <div st-items-by-page="10" st-pagination="" st-template="template/table-pagination"></div>
        </td>
    </tr>
    </tfoot>
    </table>
    <h5 ng-if="!requests.length > 0">Заведенных заявок нет</h5>
    <a href="#/addRequest" class="btn btn-fab btn-raised btn-material-blue-500 btn-add"  ng-if="userCan('requests', 'create')" ng-cloak>
        <i class="mdi-content-add"></i>
        <div class="ripple-wrapper"></div>
    </a>
</div>
<div aria-hidden="true" style="display: none;" id="remove-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="panel panel-material-blue-500 panel-confirm">
            <div class="panel-heading">
                <h3 class="panel-title">Точно удалить?</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-default" data-dismiss="modal">
                    Отмена
                    <div class="ripple-wrapper"></div>
                </button>
                <button class="btn btn-material-blue-500" ng-click="deleteSelectedObj(selectedObjId, selectedObjIndex)" ng-disabled="buttonDisabled">
                    <span ng-class="{'vis-hidden': buttonDisabled}">Удалить</span>
                    <div class="spinner" ng-show="buttonDisabled"></div>
                    <div class="ripple-wrapper"></div>
                </button>
            </div>
        </div>
    </div>
</div>
