<div class="well" ng-init="init()">
    <h4>{{estatesModel.full_address}}</h4>
    <hr>
    <table st-table="estatesModel.rooms"
           st-safe-src="estatesSafe"
           class="table table-striped table-with-controls"
           ng-if="estatesModel.rooms.length > 0">
        <thead>
        <tr>
            <th st-sort="number">Квартира</th>
            <th st-sort="owner.name">Владелец</th>
            <th>Показания счетчиков</th>
            <th>Способ связи</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="room in estatesModel.rooms">
            <td>{{room.number}}</td>
            <td>
                {{room.owner.name}}
                <br ng-if="room.owner.email">
                {{room.owner.email}}
                <br ng-if="room.owner.phones[0]">
                {{room.owner.phones[0].number}}
            </td>
            <td>
                <div ng-if="room.current_report">
                    <p ng-repeat="counter in room.current_report.report_entries_attributes">
                        <span>{{counter.counter_type}}: {{counter.value}}</span>
                        <span ng-if="counter.units == 'm3'">м<sup>3</sup></span>
                        <span ng-if="counter.units == 'kwth'">кВт/ч</span>
                        <span ng-if="counter.units == 'gkal'">Гкал</span>
                    </p>
                </div>
            </td>
            <td>
                <span ng-if="room.owner.phones[0]">Телефон</span>
                <br ng-if="!room.owner.email">
                <span ng-if="room.owner.phones[0]">SMS</span>
                <br ng-if="!room.owner.email">
                <span ng-if="room.owner.email">Email</span>
            </td>
            <td>
                Не обработан
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-items-by-page="10" st-pagination="" st-template="template/table-pagination"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <h5 ng-if="!estatesModel.rooms.length > 0">По этому адресу нет зарегистрированных пользователей</h5>
</div>
