<div class="well" ng-init="init()">
    <table st-table="estatesModel.estatesList"
           st-safe-src="estatesSafe"
           class="table table-striped"
           ng-if="estatesModel.estatesList.length > 0"
           ng-class="userCan('counters', 'update') ? 'table-with-controls' : ''">
        <thead>
        <tr>
            <th st-sort="address">Адрес</th>
            <th ng-if="userCan('counters', 'update')" ng-cloak>Управление</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="est in estatesModel.estatesList">
            <td ng-if="userCan('counters', 'update')" ng-cloak>
                <a href="#counters/estate/{{est.id}}">
                    {{est.full_address}}
                </a>
            </td>
            <td ng-if="!userCan('counters', 'update')" ng-cloak>
                {{est.full_address}}
            </td>
            <td ng-if="userCan('counters', 'update')" ng-cloak>
                <span>
                    <a href="#counters/estate/{{est.id}}">
                        <i class="material-icons">border_color</i>
                    </a>
                </span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{userCan('counters', 'update')? '2' : '1'}}" class="text-center">
                <div st-items-by-page="10" st-pagination="" st-template="template/table-pagination"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <h5 ng-if="!estatesModel.estatesList.length > 0">Сначала создайте помещение</h5>
</div>
