<div class="well" ng-init="init()">
    <div class="row" ng-if="roomModel.counters_attributes.length > 0">
        <div class="col-md-12">
            <h3>{{roomModel.room_type}} № {{roomModel.number}}</h3>
            <h5>{{roomModel.address}}</h2>
            <hr>
            <h5>Период с <b>{{roomModel.current_report_period.start | date:'dd.MM.yyyy'}}</b> по <b>{{roomModel.current_report_period.end | date:'dd.MM.yyyy'}}</b></h5>
            <ng-form name="counterDataForm" role="form" novalidate>
                <table
                    st-table="roomModel.counters_attributes"
                    class="table table-striped">
                    <thead>
                        <tr>
                            <th>Место установки</th>
                            <th>Тип счетчика</th>
                            <th>Показания</th>
                            <th>Единица измерения</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="counter in roomModel.counters_attributes track by counter.id">
                            <td>{{counter.place}}</td>
                            <td>{{counter.counter_type}}</td>
                            <td>
                                <div class="form-group form-group-material-blue-500">
                                    <input ng-if="!roomModel.current_report" type="number" class="form-control" ng-model="reportsModel.report_entries_attributes[$index].value" required min="1">
                                    <span ng-if="roomModel.current_report">{{roomModel.current_report.report_entries[$index].value}}</span>
                                </div>
                            </td>
                            <td ng-if="counter.units == 'm3'">м<sup>3</sup></td>
                            <td ng-if="counter.units == 'kwth'">кВт/ч</td>
                            <td ng-if="counter.units == 'gkal'">Гкал</td>
                        </tr>
                    </tbody>
                </table>
            </ng-form>
            <button class="btn btn-raised btn-material-blue-500 btn-add btn-add-block" type="submit" ng-if="!roomModel.current_report" ng-disabled="counterDataForm.$invalid" ng-click="submitForm()">
                <span ng-class="{'vis-hidden': showSpinner}">Отправить</span>
                <div class="spinner" ng-show="showSpinner"></div>
                <div class="ripple-wrapper"></div>
            </button>
        </div>
    </div>
    <div class="row" ng-if="!roomModel.counters_attributes.length > 0">
        <div class="col-md-12">
            <h5>Привязанных счетчиков нет нет</h5>
            <a href="#editRoom/{{roomModel.id}}" class="btn btn-raised btn-material-blue-500 btn-add">
                <span>Привязать</span>
                <div class="ripple-wrapper"></div>
            </a>
        </div>
    </div>
</div>
