<div class="well" ng-init="init()">
    <ng-form name="requestForm" role="form" novalidate ng-if="rooms.length > 0">
        <h3>Информация о заявке</h3>
        <div class="form-group form-group-material-blue-500">
            <label for="request_type" class="control-label">
                Тип заявки
            </label>
            <select class="form-control" id="request_type" required ng-model="requestModel.ticket_type">
                <option value="Обычная" selected>Обычная</option>
                <option value="Аварийная">Аварийная</option>
                <!-- TODO убрать disabled -->
                <option value="VIP" disabled>VIP</option>
            </select>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="room_id" class="control-label">
                Квартира:
            </label>
            <h3>
        </h3>
            <select class="form-control" id="room_id"  required ng-model="requestModel.room_id" ng-options="room.id as ('Квартира № ' + room.number + ', ' + room.address) for room in rooms">
            </select>
        </div>
        <div class="form-group form-group-material-blue-500">
            <label for="message" class="control-label">
                Сообщение
            </label>
            <textarea type="text" name="message" id="message" ng-model="requestModel.meta.description" class="form-control" required rows="6"></textarea>
            <div ng-messages="requestForm.message.$error" role="alert" class="ng-message-alert">
              <div ng-message="required">Поле "Сообщение" обязательно для заполнения</div>
            </div>
        </div>
        <button class="btn btn-fab btn-raised btn-material-blue-500 btn-add" type="submit" ng-disabled="requestForm.$invalid" ng-click="submitForm()">
            <i class="mdi-action-done" ng-show="!showSpinner"></i>
            <div class="spinner" ng-show="showSpinner"></div>
            <div class="ripple-wrapper"></div>
        </button>
    </ng-form>
    <div ng-if="!rooms.length > 0" class="form-group form-group-material-blue-500">
        <h5>Сначала необходимо привязать <a href="#rooms">помещение</a></h5>
    </div>
</div>
