<div class="well" ng-init="init()">
    <table
    st-table="requests"
    st-safe-src="requestsSafe"
    class="table table-striped table-with-controls"
    ng-if="requests.length > 0">
    <thead>
        <tr>
            <th st-sort="room.number">Квартира</th>
            <th st-sort="ticket_type">Вид заявки</th>
            <th st-sort="status">Статус</th>
            <th st-sort="created_at">Дата подачи</th>
            <th>Управление</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="request in requests">
            <td ng-if="request.editable">
                <a href="#editRequest/{{request.id}}">
                    №{{request.room.number}}, {{request.room.address}}
                </a>
            </td>
            <td ng-if="!request.editable">
                    №{{request.room.number}}, {{request.room.address}}
            </td>
            <td>{{request.ticket_type}}</td>
            <td>{{request.status}}</td>
            <td>{{request.created_at | date:'HH:mm:ss dd.MM.yyyy'}}</td>
            <td>
                <div ng-if="request.editable">
                    <span>
                        <a href="#editRequest/{{request.id}}">
                            <i class="mdi-image-edit"></i>
                        </a>
                    </span>
                    <span data-toggle="modal" data-target="#remove-dialog" ng-click="setObjIdToRemove(request.id, $index)">
                        <i class="mdi-action-delete"></i>
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-items-by-page="10" st-pagination="" st-template="template/table-pagination"></div>
        </td>
    </tr>
    </tfoot>
    </table>
    <h5 ng-if="!requests.length > 0">Вы еще не создали ни одной заявки</h5>
    <a href="#/addRequest" class="btn btn-fab btn-raised btn-material-blue-500 btn-add" >
        <i class="mdi-content-add"></i>
        <div class="ripple-wrapper"></div>
    </a>
</div>
<div aria-hidden="true" style="display: none;" id="remove-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="panel panel-material-blue-500 panel-confirm">
            <div class="panel-heading">
                <h3 class="panel-title">Точно удалить?</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-default" data-dismiss="modal">
                    Отмена
                    <div class="ripple-wrapper"></div>
                </button>
                <button class="btn btn-material-blue-500" ng-click="deleteSelectedObj(selectedObjId, selectedObjIndex)" ng-disabled="buttonDisabled">
                    <span ng-class="{'vis-hidden': buttonDisabled}">Удалить</span>
                    <div class="spinner" ng-show="buttonDisabled"></div>
                    <div class="ripple-wrapper"></div>
                </button>
            </div>
        </div>
    </div>
</div>
