/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require vendor
 *= require_self
 *= require_tree ./client
 */
$blockPadding: 20px;
$headerHeight: 65px;
$leftSidebarWidth: 120px;

$backgroundWhite: #fff;
$backgroundColor: #eeeeee;

$primaryColor: #2196f3;
$primaryColorLight: #BBDEFB;
$primaryColorDark: #2196f3; // not set yet

$secondaryColor: #9E9E9E;

$alertColor: #F44336;


html, body{
  min-height: 100%;
}
a, a:hover, a:focus{
  color: $primaryColor;
}
header{
  height: $headerHeight;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-left: $leftSidebarWidth;
}
body{
  padding-top: $headerHeight + $blockPadding;
}
textarea{
    resize: vertical;
}
.no-margin{
    margin: 0px !important;
}
.vis-hidden{
    visibility: hidden;
}
.ng-invalid{
    background-image: linear-gradient($alertColor, $alertColor), linear-gradient($alertColor, $alertColor) !important;
}
ul.dropdown-menu a:hover{
    color: $primaryColor !important;
}
.sidebar{
  position: fixed;
  width: $leftSidebarWidth;
  height: 100%;
  top: 0px;
  background-color: $backgroundWhite;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar-left{
  left: 0px;
}
.well-company-logo{
  height: $headerHeight;
  margin-bottom: 15px !important;
}
.btn-nav-item{
  width: 100%;
  height: 70px;
}
.btn-nav-item{
  padding: 8px
}
.navbar-menu{
  padding: 0px;
  list-style-type: none;
}
.container-content{
  width: auto;
  margin-left: $leftSidebarWidth + $blockPadding;
  margin-right: $blockPadding;
}
.navbar-menu li{
  border-bottom: 1px solid $primaryColor;
}
.navbar-menu a{
  padding: 8px 0px;
  width: auto;
  margin: 5px 8px;
  display: block;
  color: $secondaryColor !important;
}
.navbar-menu a i.material-icons{
  display: block;
  text-align: center;
  font-size: 25px;
  margin: 0px 0px 10px 0px;
  color: $secondaryColor;
}
.navbar-menu li a.btn-nav-item:hover{
  border:  none !important;
  background: $backgroundColor !important;
  border-radius: 5px;
  box-shadow: none !important;
}
.navbar-menu a.active i.material-icons, .navbar-menu a.active{
  color: $primaryColor !important;
  box-shadow: none;
}
.btn-add{
  float: right;
}
// header
.header-profile-block{
  float: right;
  width: auto;
  height: 100%;
  display: table;
}
.header-profile-block .header-profile-block-inner{
  display: table-cell;
  vertical-align: middle;
}
.header-profile-block img{
  border-radius: 50%;
}
.header-profile-block i.material-icons{
  vertical-align: middle;
}
.header-profile-block-inner{
    div.btn-group{
        a.btn{
            min-width: 180px;
            margin-right: 5px;
        }
    }
}
.header-profile-block a.btn-default {
  color: #fff !important;
}
.header-profile-block a{
  padding: 8px 15px;
}
.header-profile-block ul.dropdown-menu a:hover{
  color: $primaryColor !important;
}
.header-profile-block hr{
  margin: 8px 0px;
}
.btn.btn-fab.btn-fab-mini i{
  left: -5px;
}
.phone-block{
  margin-bottom: 25px;
}
.phone-block .input-group{
  margin: 5px 0px;
}
.phone-block .input-group .input-group-btn, .inline-button{
  cursor: pointer;
}
.phone-block .input-group .input-group-btn:hover i, .inline-button:hover i{
  color: $primaryColor;
}
.user-photo{
  display: block;
}
.spinner {
  height: 35px;
  width: 35px;
  animation: rotate 0.8s infinite linear;
  border: 3px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 11px;
}
.btn-add-block{
    .spinner{
        height: 30px;
        width: 30px;
        top: 3px;
        left: 55px;
    }
}
.spinner-small{
  height: 26px;
  width: 26px;
  left: 7px;
  top: 7px;
}
.login-alerts {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 99;
  .alert {
    opacity: 1;
    height: 65px;
  }
  *{
    line-height: 35px;
  }
}
@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
form[name=profileForm]{
  .phone-block{
    padding-bottom: 40px;
  }
}
.form-dropdown{
  display: table;
  .dropdown-toggle{
    display: table-cell;
    i{
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.table-wrapper{
  margin-bottom: 70px;
  .table{
    margin-bottom: 0px;
  }
  .form-group{
    margin-bottom: 0px;
  }
}
a.inline-button{
  color: black;
}
.inline-button{
  margin: 0px 3px;
  display: inline-block;
  width: auto;
}
.table-with-controls{
  thead tr th:last-child {
    text-align: right;
  }
  tr td:last-child{
    text-align: right;
    span i{
      color: #000000;
      cursor: pointer;
    }
    span:hover i{
      color: $primaryColor;
    }
  }
}
.panel-confirm{
  margin-top: 100px;
  .panel-body{
    text-align: right;
  }
}
.modal-dialog{
  .spinner{
    height: 25px;
    width: 25px;
    animation: rotate 0.8s infinite linear;
    border: 3px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 50px;
  }
}
/** smart tables **/
@mixin mdi {
  speak: none;
  display: inline-block;
  font: normal normal normal 24px/1 'Material-Design-Icons';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}
th[st-sort] {
  cursor: pointer;

  &:after,
  &.st-sort-ascent:after,
  &.st-sort-descent:after {
    @include mdi;
    float: right;
    font-size: 16px;
    vertical-align: middle;
  }

  &:after {
    content: "\e8b4";
    color: rgba(0, 0, 0, .38);
  }
  &.st-sort-ascent:after {
    content: "\e8ac";
    color: inherit;
  }
  &.st-sort-descent:after {
    content: "\e8ab";
    color: inherit;
  }
}
// pagination
.table-pagination{
  text-align: center;
  ul{
    padding: 0px;
  }
  .pages-tracker{
    display: inline-block;
    padding: 0px 20px;
  }
  .btn-material-blue-500.btn-pagination-control{
    height: 40px;
    padding: 8px 20px;
    a {
      color: $backgroundWhite;
    }
  }
}
.ui-select-custom{
    .ui-select-toggle{
        margin: 0px;
        height: 28px;
        padding-bottom: 2px;
    }
    .ui-select-placeholder, .ui-select-match-text{
        text-transform: none;
        line-height: 28px;
    }
    .ui-select-match{
        &:hover{
            height: auto;
        }
    }
    .ui-select-choices-row{
        &.active>a {
            background: transparent;
            color: #111;
        }
    }
}
