/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require vendor
 *= require_self
 */


.login-alerts {
  position: absolute;
  top: 0;
  width: 100%;
  .alert {
    opacity: .9;
  }
}
.form-group .form-control:invalid {
  background-image: linear-gradient(#F44336, #F44336), linear-gradient(#D2D2D2, #D2D2D2);

}
.login-button{
  min-height: 36px;
}
.spinner {
  height: 25px;
  width: 25px;
  animation: rotate 0.8s infinite linear;
  border: 3px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 40px;
}
.spinner-register{
  left: 100px;
}
.spinner-restore{
  left: 75px;
}
.spinner-reser{
  left: 50px;
}
@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
form[name=profileForm]{
  .phone-block{
    padding-bottom: 40px;
  }
}
.vis-hidden{
  visibility: hidden;
}